{% extends 'adminBase.html' %}
{% block title %}
    Purchase Stock
{% endblock %}

{% block style %}
#my-form{
  margin:50 20 !important;
}
{% endblock %}

{% block addNavLinks %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" style="color:#EEEEEE" href="/adminCart">Cart</a>
</li>
{%endblock%}

{% block content %}
<h1 class="text-center" style="margin-top:15px">Purchase Stock</h1>
<h2 class="text-center" style="margin-top:30px">{{selected}}</h2>
<form method="GET" id="my-form">
    <select name="category" id="category" class="form-control">
      <option value="" selected disabled>Select Category</option>
      <option value="ALL">All Products</option>
      <option value="Home & Kitchen">Home & Kitchen</option>
      <option value="Beauty & Personal Care">Beauty & Personal Care</option>
      <option value="Clothing, Shoes & Jewelry">Clothing, Shoes & Jewelry</option>
      <option value="Toys & Games">Toys & Games</option>
      <option value="Health, Household & Baby Care">Health, Household & Baby Care</option>
      <option value="Baby">Baby</option>
      <option value="Electronics">Electronics</option>
      <option value="Sports & outdoors">Sports & outdoors</option>
      <option value="Pet Supplies & Games">Pet Supplies & Games</option>
      <option value="Office & Supplies">Office & Supplies</option>
      <option value="Others">Others</option>
    </select>
  </form>
{% if data %}
<div class="row row-cols-1 row-cols-md-4 g-4" style="margin:50 10">
    {% for i in data %}
    <div class="col">
      <div class="card h-100" style="min-height: 500px;">
        <img src="{{i.IMG}}" class="card-img-top" alt="..." style="height:250px;object-fit:cover;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{i.NAME}}</h5>
          <p class="card-text">{{i.DESCRIPTION}}</p>
          <div class="mt-auto">
            <h6 class="card-subtitle mb-2 text-muted">RS. {{i.PRICE}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">QTY. {{i.QUANTITY}}</h6>
            {% if i.QUANTITY == 0 %}
            <h6 class="card-subtitle mb-2 text-muted" style="color:red !important;">Out of stock</h6>
            {% else %}
            <h6 class="card-subtitle mb-2 text-muted" style="color:green !important;">In stock</h6>
            {% endif %}
            <form method="POST" action="{% url 'addAdminCart' %}" class="mt-auto">
              {% csrf_token %}
              <div class="row align-items-end">
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input type="number" class="form-control text-center" name="{{i.ID}}" value="1" min="1" max="{{i.QUANTITY}}" style="max-width: 100px;" required>
                  </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                  <input class="btn btn-primary btn-block" type="submit" name="{{i.VID}}" value="Add to cart" style="color:black;">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
</div>
{%else%}
<div class="alert alert-warning" role="alert" style="width:98%;margin: 10 auto">
    No products found!
</div>
{%endif%}

<script>
    const form = document.getElementById('my-form');
    const select = document.getElementById('category');
    select.addEventListener('change', () => {
      form.submit();
    });
  </script>
{% endblock %}